.atas{
    text-align: center;
    font-size: 75px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nam{
    border: 20px;
    text-align: center;
    float:right;
    font-size: 30px;
    font-family: cursive;
}
.cia{
    text-align: center;
    float: left;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.kimoi{
    display:grid;
    grid-template-columns: 500px 500px 500px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}
.haiyah{
    float: left;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.em{
    font-size: 200px;
}
img{
    max-width: 100%;
    max-height: 100%;
}
@media screen and (max-width:600px){
    div.haiyah{
        width:100%;
        height: auto;
        
    }
    div.cia{
        width:100%;
        height: auto;
    }
    div.nam{
        width:100%;
        height: auto;
    }
    div.kimoi{
        grid-template-columns: 33% 33% 33%;
    }
    .hoi{
        width:150px;
        height: 150px;
    }
    .no{
        width:150px;
        height: 150px;
    }
    .nop{
        width:150px;
        height: 150px;
    }
    .em{
        font-size: 120px;
    }
}
@media screen and (min-width:601px){
    div.haiyah{
        width:100%;
        height: auto;
        
    }
    div.cia{
        width:100%;
        height: auto;
    }
    div.nam{
        width:100%;
        height: auto;
    }
    div.kimoi{
        grid-template-columns: 33% 33% 33%;
    }
    .hoi.no.nop{
        width:120px;
        height:120px;
    }
}
@media screen and (min-width:1000px){
    div.haiyah{
        width:100%;
        height: auto;
        
    }
    div.cia{
        width:100%;
        height: auto;
    }
    div.nam{
        width:100%;
        height: auto;
    }
    div.kimoi{
        grid-template-columns: 33% 33% 33%;
    }
    .hoi.no.nop{
        width:200px;
        height:200px;
    }
}
